  <nav>
    <div class="nav-wrapper">
      <a href="/index" class="brand-logo">r/Politics Commenter</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/articles">Articles</a></li>
        <li><a href="/saved">Saved</a></li>
        <li><a href="/scrape">Scrape</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/articles">Articles</a></li>
        <li><a href="/saved">Saved</a></li>
        <li><a href="/scrape">Scrape</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  {{#each article}} 
        <div class="row">
            <div class="col s9">
                {{this.title}} {{this.link}}

                <input type="hidden" name="comments">
                <button type="submit" class="comment-button">Comment</button>
            </div>
        
     {{/each}}
     <div class="col s3">
         <div id="comments"></div>
     </div>
     </div>
</div>
