  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">r/Politics Commenter</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/articles">Articles</a></li>
        <li><a href="/delete" class="deleteButton">Delete</a></li>
        <li><a href="/scrape">Scrape</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/articles">Articles</a></li>
        <li><a href="/delete" class="deleteButton">Delete</a></li>
        <li><a href="/scrape">Scrape</a></li>
      </ul>
    </div>
  </nav>
          
    <div id="wrapper">
      <h1>r/Politics Scraper + Commentor</h1>
      <h2><i>Scrape political articles by going to the Scrape button then click the Logo, leave comments by hitting the comment button!</i></h2>
      <div class="row">
      <div id="articles" class="col s8"></div>
      <div id="comments" class="col s4"></div>
      </div>
    </div>


