<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">r/Politics Commenter</a>
    <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="active" href="/articles">Articles</a></li>
      <li><a class="active" href="/delete" class="deleteButton">Delete</a></li>
      <li><a class="active" href="/scrape">Scrape</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="active" href="/articles">Articles</a></li>
      <li><a class="active" href="/delete" class="deleteButton">Delete</a></li>
      <li><a class="active" href="/scrape">Scrape</a></li>
    </ul>
  </div>
</nav>

<div id="wrapper">
<h1> Scrape Complete! </h1>
</div>