* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	background-color: #D80000;
	color: white;
	text-shadow: 2px 2px #1212C4;
}

#articles {
	display: inline-block;
	overflow: auto;
	width: 60%;
	height: 700px;
	margin-bottom: 2%;
	background-color: #000062;
}

#comments {
	width: 30%;
}

textarea,
input {
	display: block;
	width: 100%;
	background-color: #E8F4EC;
}

.brand-logo {
	margin-left: 2%;
}

ul {
	margin-right: 2%;
}

#wrapper {
	padding-left: 2%;
}

input {
	height: 36px;
	font-size: 24px;
}

textarea {
	height: 40px;
	font-size: 20px;
	color: #1212C4;
}

#commentButton {
	margin: 1%;
	color: #1212C4;
}

#commentTitle {
	font-weight: bold;
}

.nav-wrapper {
	background-color: #1212C4;
}

#savecomment {
	color: #1212C4;
}

.input-field {
	background-color: white;
}

#title,
#comment {
	color: #1212C4;
	font-size: 120%;
}