* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

#articles {
	display: inline-block;
	overflow: auto;
	width: 60%;
	height: 700px;
	margin-bottom: 2%;
}

#comments {
	width: 30%;
}

textarea,
input {
	display: block;
	width: 100%;
	background-color: #E8F4EC;
}

input {
	height: 36px;
	font-size: 24px;
}

textarea {
	height: 50px;
	font-size: 18px;
}

#commentButton {
	margin: 1%;
}

#commentTitle {
	font-weight: bold;
}